body {
  background-color: #E5C2C0;
  
  
}

h2 {
  color: #733b73;
  font-size: 35px; 
  text-decoration: overline underline salmon wavy 3px;
  letter-spacing: 5px;
  word-spacing: 10px;
  text-shadow: 2px 2px 5px wheat;
}

h2:hover {
  color: #9FFCDF;
  font-size: 40px;
  text-shadow: 2px 2px 5px white;
  font-variant: small-caps;
}

.image1 {
  width: 20%;
  border-radius: 50%;
}
.image1:hover {
  transform: scaleX(-1);
  border: #EFE9F4 dotted 8px;
}

.image2 {
  width: 20%;
  
}


ul {
  list-style-type: none;
  background-color: #733b73;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  padding: 10px;
  opacity: .8;
  margin: 0;
  text-align: center;
}

li{
  display: inline; 
  padding: 10px
  
}

a {
  text-decoration: underline;
  color: #E5C2C0;
  font-variant: small-caps;
  text-align: center;
}

li a:hover {
  background-color: #9FFCDF;
  opacity: 1;
  padding: 10px;
}

.container {
  display: flex;
  align-items: center; /* Vertically center children */
  gap: 10px; /* Space between children */
  justify-content: center;
  margin: 0 auto; /* Centers the container itself */
  text-align: center; /* Ensures text aligns properly */
}

h3 {
  font-size: 50px;
}
